rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /competitions/{competitionId} {
      allow read, write: if competitionId == 'green-mech-2026';

      match /users/{userId} {
        allow read, write: if competitionId == 'green-mech-2026';
      }

      match /settings/{docId} {
        allow read, write: if competitionId == 'green-mech-2026';
      }

      match /levels/{levelId}/{collectionName}/{docId} {
        allow read, write: if competitionId == 'green-mech-2026';
      }
    }
  }
}
